.App {
  display: flex;
  flex-direction: column;
}

.AppBar {
  flex-grow: 0;
  position: relative !important;
}

.AppMain {
  flex-grow: 1;
  position: relative;
}

.MobileGameUi {
  .TopLeft {
    width: fit-content;
    display: inline-block;
    position: relative;
  }

  .TopRight {
    width: fit-content;
    display: inline-block;
    position: relative;
  }

  .Top {
    width: fit-content;
    position: relative;
    svg {
      width: 100%;
    }
  }

  .BottomRight {
    width: fit-content;
    display: inline-block;
    position: relative;
  }

  .BottomLeft {
    width: fit-content;
    display: inline-block;
    position: relative;
  }

  .Bottom {
    width: fit-content;
    position: relative;
  }
}

.DesktopGameUi {
  .TopLeft {
    position: absolute;
    top: 0;
    left: 0;
  }

  .TopRight {
    position: absolute;
    top: 0;
    right: 0;
  }

  .Top {
    position: absolute;
    top: 0;
    left: 200px;
    right: 200px;
    svg {
      width: 100%;
    }
  }

  .BottomRight {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .BottomLeft {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .Bottom {
    position: absolute;
    bottom: 0;
    left: 200px;
    right: 200px;
  }
}

.AppMainContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wasd-image-w .keyboard-image-w polygon {
  stroke: orange;
  fill: orangered;
}
.wasd-image-a .keyboard-image-a polygon {
  stroke: orange;
  fill: orangered;
}
.wasd-image-s .keyboard-image-s polygon {
  stroke: orange;
  fill: orangered;
}
.wasd-image-d .keyboard-image-d polygon {
  stroke: orange;
  fill: orangered;
}
.wasd-image-space .keyboard-image-space polygon {
  stroke: orange;
  fill: orangered;
}
.mouse-image-left-button .left-button {
  stroke: orange;
  fill: orangered;
}
.mouse-image-right-button .right-button {
  stroke: orange;
  fill: orangered;
}
.mouse-image-middle-wheel .middle-wheel {
  stroke: orange;
  fill: orangered;
}