.App {
  display: flex;
  flex-direction: column;
}

.AppBar {
  flex-grow: 0;
  position: relative !important;
}

.AppMain {
  flex-grow: 1;
  position: relative;
}

.TopLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.TopRight {
  position: absolute;
  top: 0;
  right: 0;
}

.Top {
  position: absolute;
  top: 0;
  left: 200px;
  right: 200px;
}
.Top svg {
  width: 100%;
}

.BottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}

.BottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.Bottom {
  position: absolute;
  bottom: 0;
  left: 200px;
  right: 200px;
}

.AppMainContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}